.container {
  width: 100%;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}

.content-header {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.select-container {
  width: 15rem;
  margin-left: auto;
  margin-right: 1rem;
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .select-container {
    margin-left: 0;
  }

  .heading {
    margin-bottom: inherit;
  }
}
