.container {
  width: 18rem;
  font-family: "Lato", sans-serif;
  margin-right: 3rem;
}

.container h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.list li {
  margin: 0.6rem 0;
  padding-left: 0.4rem;
}

.filter-list {
  list-style-type: none;
  padding-left: 0;
}

.filter-list li {
  font-size: 1.4rem;
  padding: 1.5rem 0;
  border-bottom: 3px solid rgb(241, 241, 241);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon {
  background-color: white;
  height: 1.5rem;
}

.filter-list li button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  width: 100%;
}

.button {
  display: none;
  border: none;
  background-color: black;
  color: white;
  height: 3.6rem;
  font-size: larger;
  font-weight: 700;
  width: 100%;
  margin-top: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.expand-button {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 80%;
  right: 0;
  z-index: 1;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
}

.expand-button:hover {
  background-color: black;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    display: none;
  }

  .active {
    display: inline-block;
  }

  .button {
    display: inline-block;
  }

  .expand-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
