.form {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    padding: 1rem 3.5rem;
}

.form button {
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 3.5rem;
    margin-top: 2rem;
    font-size: larger;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.form button:hover {
    color:black;
    background-color:white;
    cursor: pointer;
}

.form label {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.form h2 {
    font-size: 2.5rem;
    margin-top: 0;
}

.form input {
    height: 3rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    outline: none;
    padding-left: 1rem;
    font-size: 1.5rem;
}