.form {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    padding: 1rem 3.5rem;
}

.form button {
    border: none;
    background-color: black;
    color: white;
    height: 3.6rem;
    margin-top: 2rem;
    font-size: larger;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.form button:hover {
    background-color:rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.form label {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.form h2 {
    font-size: 2.5rem;
    margin-top: 0;
}

.form input {
    height: 3rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    outline: none;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.error {
    color: red;
    margin-bottom: 1rem;
}

form .invalid-password {
    border: 1px solid red;
}

form .invalid-email {
    border: 1px solid red;
}

.log-in {
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(137, 137, 137);
}

.log-in:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}