.container h3 {
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
}

.container h3:first-of-type {
  margin-top: 0;
}

.container p {
  padding-top: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
