.container {
  display: flex;
  position: relative;
}

.icon {
  height: 1.5rem;
  padding: 0rem 1rem;
}

.container span {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.user-dropdown {
  position: absolute;
  top: 4.2rem;
  right: 3.6rem;
  width: 10rem;
  height: 5rem;
  background-color: white;
  border: 2px solid black;
  border-top: none;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: none;
  background-color: black;
  color: white;
  height: 3.6rem;
  font-size: larger;
  font-weight: 700;
  margin-bottom: 1.6rem;
  width: 80%;
  cursor: pointer;
  margin-top: 1.5rem;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.icon-span {
  cursor: pointer;
}

.icon-span .icon {
  transition: 100ms linear;
}

.icon-span:hover .icon {
  transform: scale(1.25);
}

@media (max-width: 576px) {
  .icon {
    padding: 0 0.5rem;
  }
}
