.container {
    display: flex;
    align-items: center;
}

.input {
    padding-left: 0.5rem;
    height: 1.85rem;
    width: 10rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: medium;
    font-family: 'Lato', sans-serif;
}

.icon {
    // padding: 0.4rem 0.5rem;
    padding: 0.4rem 0.6rem;
    height: 1.4rem;
    border-right: none;
    background-color: black;
    color: white;
}