.container {
    height: 4rem; 
    border-bottom: 2px solid rgb(239, 239, 239);  
}

.wrapper {
    margin: auto;
    width: 60%;
    height: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: auto;
    padding-left: 12rem;
}
