.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.wrapper {
  width: 60rem;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 16px;
  color: white;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 16px;
  color: white;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
